RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


RewriteRule . index.php [L]
#redireccionamos todo al index toda url que se escriba sera redireccionada a el index.php.